 .sviBlogovi{
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: center;

}
.margina{
    margin: 15vh 15vw;
}
.marginaVeliki{
    margin: 5vh 5vw;

}

.divZaIzbor{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.btnBlog{
    height: 5vh;
    width: 30vw;
    cursor: pointer;
}
/* img{
    height: 50vh;
    width: 50vw;
}  */