.formaZakazi{
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 17px;
}


.btn , .opcija{
  border-radius: 12px;
  cursor: pointer;
  border: 1px;
}

.btn:hover {
  background-color: rgb(204, 195, 195);
}