.forma {
    display: flex;
    justify-content: center;
    flex-direction: column;

    align-content: center;
}

.login {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginInp {
    height: 24px;
    border-radius: 10px;
    margin: 6px;
}

.loginInp:hover {
    background-color: rgb(226, 211, 239);
}

.greska{
    color: red;
}