
/* slika pozadina */
.container{
	background-image: url(https://odia.ig.com.br/_midias/jpg/2021/09/09/unnamed2-22980351.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a{
    text-decoration: none;
}

.poruka{
    font-family: monospace;
    font-size: 3em;
    font-weight: 600;
    letter-spacing: -2px;
    border: 1px black;
    background-image: linear-gradient(to bottom left, #f8af00, #f83200);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    text-transform:capitalize;

}
