body {
    margin: 0;
    background-color: rgb(46, 46, 49);

    color: #f2f2f2;
}

.zaglavlje {
    background-color: rgb(34, 34, 35);
    overflow: hidden;
    /* padding: 20px 10px; */
    position: sticky;
    top: 0;
    width: 100%;
}

a {
    text-decoration: none;
}

.zaglavlje span {
    /* float: left; */
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.zaglavlje .levo {
    float: left;
}


.zaglavlje span:hover {
    background-color: rgb(62, 61, 61);
    /* color: rgb(119, 43, 82); */
}

.zaglavlje span.active {
    background-color: #4a3b4a;
    color: white;
}

.zaglavlje .icon {
    display: none;
}

@media screen and (max-width: 680px) {
    .zaglavlje {
        /* background-color: rgb(197, 170, 254); */


        float: none;
        display: block;
        text-align: left;
    }

    .zaglavlje span {
        /* display: none; */

        float: none;
        display: none;
        text-align: left;

        text-decoration: none;
    }

    /* .zaglavlje span.active {
        display: grid;
        width: 80%;
    } */

    .zaglavlje span.icon {
        float: right;
        display: block;
    }

    .desno {
        float: none;
        display: block;
        width: 100%;
    }
}

@media screen and (max-width: 680px) {

    .zaglavlje.show span.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .zaglavlje.show span {
        float: none;
        display: block;
        text-align: left;
    }

}

.menu {
    width: 30px;
    height: 5px;
    background-color: rgb(255, 255, 255);
    margin: 3px 0;
}

.footer,
.fKontakt {
    background-color: rgb(34, 34, 35);
    overflow: hidden;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 38vh;

    position: relative;
}

.fKontakt {
    margin-left: 14vw;
    gap: 13px;
}

.desno {
    float: right;
}

.pozadina {
    height: 500px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}