body {
    margin: 0;
    background-color: rgb(46, 46, 49);

    color: #f2f2f2;
}

.zaglavlje {
    background-color: rgb(34, 34, 35);
    overflow: hidden;
    /* padding: 20px 10px; */
    position: sticky;
    top: 0;
    width: 100%;
}
a{
    text-decoration: none;
}
.zaglavlje span {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

}

.zaglavlje span:hover {
    background-color: rgb(62, 61, 61);
    /* color: rgb(119, 43, 82); */
}

.zaglavlje span.active {
    background-color: #4a3b4a;
    color: white;
}

.zaglavlje .icon {
    display: none;
}

@media screen and (max-width: 680px) {
    .zaglavlje {
        /* background-color: rgb(197, 170, 254); */
      

        float: none;
        display: block;
        text-align: left;
    }

    .zaglavlje span {
        /* display: none; */

        float: none;
        display: none;
        text-align: left;

        text-decoration: none;
    }

    /* .zaglavlje span.active {
        display: grid;
        width: 80%;
    } */

    .zaglavlje span.icon {
        float: right;
        display: block;
    }

    .desno {
        float: none;
        display: block;
        width: 100%;
    }
}

@media screen and (max-width: 680px) {

    .zaglavlje.show span.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .zaglavlje.show span {
        float: none;
        display: block;
        text-align: left;
    }

}

.menu {
    width: 30px;
    height: 5px;
    background-color: black;
    margin: 3px 0;
}

.footer {
    background-color:rgb(34, 34, 35);
    overflow: hidden;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.desno {
    float: right;
}

.pozadina {
    height: 500px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.pocetnaSlika1 {
    background-image: url(https://image.shutterstock.com/image-photo/dumbbells-boxing-gloves-sneakers-gift-260nw-1606209244.jpg);
}

.pocetnaSlika2 {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRFm3LWasAbN2CuhcgoRTNQo29R9KCX-ArwlQ&usqp=CAU);
}

.pocetnaSlika3 {
    background-image: url(https://image.shutterstock.com/image-photo/dumbbells-260nw-561980815.jpg);
}

.pocetnaSlika4 {
    background-image: url(https://i.pinimg.com/originals/c7/2a/e9/c72ae9e852372295fb344aa4c69dce87.jpg);
}