.treneri{
    justify-content: center;
}

.trener {
    display: flex;
    justify-content: center;
    gap: 20px;

    border-radius: 12px;

}
div.trener:hover{
    background-color: rgb(59, 63, 63);
}

img {
    height: 40vh;
    max-width: 40vw;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.ime:hover{
    color: rgb(66, 29, 231);
 cursor: pointer;
}
.dugme {
    height: 24px;
    border-radius: 12px;
    border: 1px;
    margin: 6px;
}
.dugme:hover{
    background-color: blueviolet;
    cursor: pointer;
}
/* .divZaSliku{
    width: 200px;
    height: 200px;
    border-radius: 50%;

    background-position: 70% 50%;
    background-size: 130%;
} */