 .profilKorisnika {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
/*
.infoOProfilu {
    float: left;
}

.infoNapredak {
margin: 20px;
}

.zakazaniTreninzi {
    float: right;
} */

