.sveUsluge {
    align-content: center;
    margin: 5vh 15vw 25vw 15vw;
}

.usluga {
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    border-bottom-style: outset;
    justify-content: space-around;
    height: 7vh;
}
.usluga:hover{
    cursor: pointer;
    background-color: aliceblue;
}
.datumi {
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    border-bottom-style: outset;
    justify-content: space-around;
}

.cenaUsluge {
    color: rgb(17, 146, 17);
}

.greska {
    color: red;
}